.headerModal {
  background-color: #dc143c;
  color: black;
  font-family: 'san-serif';
}

.bodyModal {
  font-family: 'san-serif';
}

.algn {
  text-alignment: center;
}

#fm {
  border-style: solid;
  background-color: lightblue;
}

.cont {
  margin-top: 8px;
  margin-bottom: 8px;
}
