.bdd {
  margin-left: 600px;
  margin-right: 400px;
  margin-bottom: 280px;
  margin-top: 50px;
}

.timer {
  background-color: lightblue;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  margin-right: 300px;
}

.ctr {
  color: black;
  font-family: san-serif;
  text-align: center;
}

.pg {
  text-align: center;
}
